__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
outputs/
shared/
.DS_Store
.env
*.env
.idea/
.vscode/
.git/
.gitignore
.dockerignore
venv/
.venv/
*.safetensors
*.ckpt
*.pt
*.pth
*.bin
*.onnx
*.h5
*.zip
*.tar
*.tar.gz
*.7z
*.npz
*.npy

