__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
uploads/
outputs/
workflows/
*.safetensors
*.ckpt
*.pt
*.pth
.DS_Store
.env
*.env
.idea/
.vscode/

# 대용량 모델/데이터
*.zip
*.tar
*.tar.gz
*.7z
*.npz
*.npy
*.h5
*.onnx

!config.json
!chat_template.json
!generation_config.json
!preprocessor_config.json
!tokenizer_config.json
!tokenizer.json
!vocab.json
!merges.txt
!README.md

qwen7B/
!qwen7B/bin/
!qwen7B/include/
!qwen7B/lib/
!qwen7B/pyvenv.cfg
!qwen7B/share/
